
.slider-top{
    /* display: block; */
    /* margin-top: 0vh; */
    /* min-height: 20vh; */
}

.aaa {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin: 25px 0;
}

.bbb {
    background-image: url('../images/website/search.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}


/* HowWeHelp */

.marketing {
    margin-top: 4rem;
}

.marketing img {
    margin-top: 2rem;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.marketing h2 {
    text-align: center;
    margin: 1.5rem;
}

.marketing p {
    text-align: justify;
}