.aaa {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin: 25px 0;
}

.bbb {
    background-image: url('../images/website/search.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}