
html {
  --normal: rgba(0, 123, 255, 0.8);
  --active: rgb(38, 141, 252);
  --newsletter:rgba(255, 132, 0, 0.8);
  --newsletter-active:rgba(255, 132, 0);
  --letters: #f8f9fa;
  --background: #252525;
  --background-filter: rgba(218,218,218,0.9)
}

.aaa {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin: 25px 0;
}

.bbb {
    background-image: url('../images/website/search.png');
    background-size: 20px;
    padding-left: 30px !important;
    background-repeat: no-repeat;
    background-position: center;
}

.bbb:hover, .bbb:focus, .bbb:active {
  background-image: url('../images/website/search.png');
  background-color: var(--background-filter) !important;
  background-size: 20px;
  filter: invert(1);
  padding-left: 30px !important;
  background-repeat: no-repeat;
  background-position: center;
}

/*==================== 
	HowWeHelp 
====================== */

.marketing {
    margin-top: 4rem;
}

.marketing img {
    margin-top: 2rem;
    display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

/* .marketing h2 {
    text-align: center;
    margin: 1.5rem;
} */

.marketing p {
    text-align: justify;
    margin: 1.5rem 0.5rem;
}

/*==================== 
	showcase 
====================== */

.showcase {
    padding: 0 !important;
}

.showcase h2 {
    text-align: center; 
}

.showcase p {
    text-align: justify;
}

.showcase .showcase-text {
    padding: 5rem !important;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
/* .test {
    background-image: url('../images/testFoto.jpg');
} */

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.img-adoptedPets {
  background-image: url('../images/website//HowWeHelp/AdoptedPets.jpg');
}

.img-donors {
  background-image: url('../images/website//HowWeHelp/donors.jpg');
}

.img-volunteers {
  background-image: url('../images/website//HowWeHelp/volunteers.jpg');
}

  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }

/*==================== 
	team 
====================== */



  .team {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }
  
  .team .team-item {
    max-width: 18rem;
  }
  
  .team .team-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }

/*==================== 
	Contact 
====================== */

.adress {
  margin-top: 5rem;
}

.adress p {
  margin-left: 3rem;
}

.adress img {
  position: absolute;
  display: inline-block;
  filter: invert(0.4);
}

.submit {
  margin-bottom: 100px;
}

.map {
  width:100%;
   height:365px;
}

.message {
  height: 92px !important;
}

.writeToUs {
  border-radius: 5px 5px 5px 5px;
border: 1px solid #e0e0e0;
}

/*==================== 
	Error Page
====================== */

.errorBox {
margin: 30vh 12vw;
  /* margin: 12rem 11rem; */
  border-radius: 10px;
border: 1px solid #cccccc;
}

.errorBox img {
  display: block;
  margin-top: 3rem;
margin-left: auto;
margin-right: auto;
/* width: 50%; */
filter: invert(0.4);
}


